<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "Agg-rager!!" %></h2>
  <p class="lead">A SC2 Stat aggregator.</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Resources</h4>
    <ul>
      <li>
        <%= link "Profile", to: "/sc2/profile" %>
      </li>
      <li>
        <%= link "Maps", to: "/sc2/map"  %>
      </li>
    </ul>
  </div>

  <div class="col-lg-6">
    <h4>Help</h4>
    <ul>
      
    </ul>
  </div>
</div>
