@require colors;

/* This file is for your main application css. */
* {
	box-sizing border-box;
}
body {
	font-family: "Blizzard", trbuchet, san-serif;
	min-height 100vh;
	.page-bg {
		position: fixed;
		min-height 100vh;
		min-width 100vw;
		&:before {
			z-index: -1;
			content:'';
			position: absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			opacity: .3;
			background-image url('/images/hex-bg.svg');
			background-size: 100px 100px;
		}
	}
	.page-content {
		position: relative;
		z-index: 1;
	}
	background-color:#000;
	color: white;
	margin:0;
	.container {
		max-width: 1200px;
		margin: 0 auto;
	}
	.losses {
		color: red;
	}

	.wins {
		// color: rgb(178,214,133);
		color: teal;
	}
	.ties {
		color: yellow;
	}
	header {
		background: blizzBlueDkHov;
	}
}

a {
	text-decoration: none;
	color:white;
}


.col-2 {
	display:flex;
	justify-content:space-between;
	article {

		display: inline-block;
		width: 49%;
	}
}
h3 {
	padding-bottom:5px;
	border-bottom: 1px solid blizzBlueText;
}