@require colors;

/* This file is for your main application css. */
* {
	box-sizing border-box;
}
body {
	font-family: "Blizzard", trbuchet, san-serif;
	background-color:blizzBlueDk;
	color: white;
	margin:0;
	.container {
		max-width: 1200px;
		margin: 0 auto;
	}
	.losses {
		color: red;
	}

	.wins {
		// color: rgb(178,214,133);
		color: teal;
	}
	header {
		background: blizzBlueDkHov;
	}
}

a {
	text-decoration: none;
	color:white;
}


.col-2 {
	display:flex;
	justify-content:space-between;
	article {

		display: inline-block;
		width: 49%;
	}
}
h3 {
	padding-bottom:5px;
	border-bottom: 1px solid blizzBlueText;
}