@require colors;

.btn-bnet {
	color: white;
	padding: 12px 24px;
	background-color:blizzBlueDk;
	text-decoration: none;
	background-image: url("/images/battlenet.png");
	background-size:36px 36px;
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:40px;
	border:2px solid blizzBlueLt;
	font-weight:bold;
}
@font-face {
	font-family: blizzard;
	src: url('/fonts/blizzard.regular.woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: blizzard;
	src: url('/fonts/blizzard.bold.woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: blizzard;
	src: url('/fonts/blizzard.light.woff');
	font-weight: light;
	font-style: normal;
}