@require colors;

.btn-bnet {
	color: white;
	padding: 118px 24px 28px;
	background-color:blizzGrey;
	text-decoration: none;
	background-image: url("/images/battlenet.png");
	background-size:100px 100px;
	background-repeat:no-repeat;
	background-position:center top;
	padding-left:40px;
	border:2px solid blizzBlueLt;
	font-weight:bold;
	display block;
	width: 246px;
	margin: 50px auto;
}
@font-face {
	font-family: blizzard;
	src: url('/fonts/blizzard.regular.woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: blizzard;
	src: url('/fonts/blizzard.bold.woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: blizzard;
	src: url('/fonts/blizzard.light.woff');
	font-weight: light;
	font-style: normal;
}