teal = rgb(43,170,157);
lightTeal = lighten(teal, 10%);
red = rgb(239,106,85);
white = #fff;
black = rgb(51,51,51);
lightGrey = rgb(217,217,217);
yellow = #CCC514;

zergPurple = #892c62;
zergPurpleAccent = #4f1c55;

terranRed = #ce3137;

tossGold = #f8ee8a;

blizzGrey = #2a3144;
blizzBlueDk = #02264e;
blizzBlueLt = #1ca6f1;
blizzBlueBright = #39f;
blizzBlueBorder = #00aeff;
blizzBlueText = #00aeff;
blizzBtnBlue = #0e86ca;
blizzBlueDkHov = lighten(blizzBlueDk, 10%);

