@require colors;

ul.record {
	display:flex;
	padding:0;
	margin:0;
	list-style: none;
	li {
		font-size:16px;
		text-align: center;
		width:75px;
		border-radius: 8px;
		margin:0 16px;
		.stat {
			font-size: 24px;
			border-bottom: 2px solid blizzBlueBorder;
			margin-bottom:10px;
			padding-bottom:10px;
		}
	}
}