@require colors;

table{
	width:100%;
	border-collapse: collapse;
	thead{
		th {
			border-bottom: 1px solid blizzBlueBorder;
		}
	}
	tbody {
		td {
			padding: 8px 16px 8px 8px;
		}
		td.center {
			text-align center;
		}
		td.WIN {
			color teal;
		}
		td.LOSS {
			color red;
		}
		tr:nth-of-type(2n) {
			td {
				background-color blizzBlueDkHov;
			}
		}
	}
}