@require colors;

table{
	width:100%;
	thead{
		th {
			border-bottom: 1px solid blizzBlueBorder
		}
	}
	tbody {
		td.center {
			text-align center;
		}
		td.WIN {
			color teal;
		}
		td.LOSS {
			color red;
		}
	}
}