<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AggRager the best place to get all your Blizz stats</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
      <header class="header">
        <nav role="navigation">
          <ul class="nav">
            <li class="<%= active_link(@conn, AggRagerWeb.SC2.ProfileController)%>"><%= link "Profile", to: "/sc2/profile" %></li>
            <li class="<%= active_link(@conn, AggRagerWeb.SC2.MapController)%>"><%= link "Match Stats", to: "/sc2/matches" %></li>
            <li class="<%= active_link(@conn, AggRagerWeb.SC2.LadderController)%>"><%= link "Ladders", to: "/sc2/ladders" %></li>
          </ul>
          <ul class="nav-right nav">
            <%= coherence_links(@conn, :layout) %>
          </ul>
        </nav>
      </header>
    <div class="container">

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
